@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
body{
 font-family: 'Oswald', sans-serif;
 font-weight:400;
}
.header{
	background:black;
	color:white;
	
}
.logo {
    margin: 0px 50px -55px 59px;
}
.header a{
	text-decoration:none;
	color:#fff;
}

.header-navbar {
    list-style-type: none;
	margin-left:700px;
}
.header-list{
    display:inline-block;
	padding:15px;
}
.left-area{
	display:inline-block;
	width:500px;
	margin-left:60px;
	
}
.left-area h2{
	text-transform:capitalize;
}
.button{
	text-decoration: none;
    color: white;
    background:#f39c12;
    padding: 4px;
    border-radius: 3px;
    margin-top: 50px;
    line-height: 65px;
}
.right-area{
	display:inline-block;
}
.image-area{
	width:500px;
	height:200px;
	margin-left:80px;
	margin-top:14px;
}
.row-area{
	display:inline-block;
	width:28%;
	margin-left:35px;
	margin-top:60px;
}
.row-area p{
	text-align:justify;
}
.row-image{
	width:97%;
	height:210px;
	display:inline-block;
}
.footer{
    display: flex;
    background-color: black;
    color:white;
    font-size: smaller;
    margin: 10% 0 0 0;
    padding: 0 2% 0 2%;
}
.latest-post{
    width: 40%;
    margin: 2% 0 2% 5%;
}
.latest-post .post{
    display: flex;
}
.latest-post .post .date{
    width: 20%;
    background-color: white;
    margin: 2% 2% 0 0;
    padding: 2%;
    border-radius: 10px;
    color:gray;
    font-weight: 700;
    text-align: center;
}
.latest-post .post .post-details{
    width: 80%;
}
.about{
    width: 40%;
    margin: 2% 0 0 5%;
}
.stay-connected{
    width: 30%;
    margin: 2% 0 0 5%;
}
.stay-connected .icon{
    margin: 2%;
    padding: 2%;
}
.stay-connected .icon .iconname{
    margin: 0 0 0 2%;
}
.footer h1{
    color:gray
}